---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: block;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: 100%;
				margin-bottom: 1.5rem;
				padding-bottom: 1.5rem;
				border-bottom: 1px solid rgb(var(--gray-light));
			}
			ul li:last-child {
				border-bottom: none;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				margin-bottom: 2rem;
				padding-bottom: 2rem;
			}
			ul li:first-child .title {
				font-size: 1.8rem;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 1.4rem;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
				font-size: 0.9rem;
			}
			ul li a:hover .title {
				color: rgb(var(--accent));
			}
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				ul li:first-child .title {
					font-size: 1.6rem;
				}
				.title {
					font-size: 1.2rem;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									{/* {post.data.heroImage && (
										<div class="hero-image">
											<Image width={640} height={360} src={post.data.heroImage} alt="" />
										</div>
									)} */}
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
